.pagination {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    padding: 1rem;
    border-radius: 4rem;
    border: 2px solid #3f51b5;
    li {
      text-align: center;
      margin: 0 0.5rem;
      span {
        display: block;
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }
  }
}

.pagination ul li .btn {
  width: auto;
  padding: 0 2rem;
  border-radius: 4rem;
  &:hover {
    background: #3f51b5;
    color: #fff;
  }
}

.pagination ul li .numb {
  &:hover {
    background: #3f51b5;
    color: #fff;
  }
}

.pagination ul li .dots {
  font-size: 2.4rem;
  cursor: default;
}

.active-page {
  background-color: #3f51b5;
  color: #fff;
}
