.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 4px #b7bfcf;
  background-color: #fff;

  .link {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .RSschool {
    width: 10rem;
    height: 100%;
  }

  .school-icon {
    width: 10rem;
  }

  .developer {
    width: 10rem;
    height: 5rem;
  }

  .gitHub-icon {
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }

  .link-name {
    color: rgb(106, 106, 106);

  }

  .gitHub-icon {
    background: #3f51b5;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}