.sprint__wrapper {
  background-image: url(../../../../assets/img/screenBek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 60rem;
  height: 100%;
  margin: auto;
  padding: 3rem;
}

.start-screen-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(80 80 80 / 65%);
  border-radius: 2rem;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  padding: 0 1rem;
}

.start-screen__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 1rem;
}

.start-screen__title {
  font-size: 7rem;
  margin-bottom: 4rem;
}

.start-screen__text {
  font-size: 2.4rem;
  letter-spacing: 0.08rem;
}

.start-screen-levels__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.15rem;
}

.start-screen-levels__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    border: #fff solid 2px;
    margin: 0rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}

.start-screen__btn {
  border: none;
  background-color: #00a098;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 2rem;
  margin: 4rem 0;
  transition: 0.3s ease-in-out;
  &:disabled {
    cursor: default;
    background-color: #949189;
  }
}

.active-sprint__level {
  background-color: #00a098;
}
