.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2rem;
  background-color: #3f51b5;
  color: #fff;

  svg {
    fill: #fff;
  }
}

.header-home {
  svg {
    height: 2.5rem;
    width: 2.5rem;
    transition: 0.3s ease-in-out;

    &:hover {
      fill: #cf8bf3;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  font-size: 2rem;

  a {
    margin: 0 1.5rem;
    color: rgb(214, 209, 209);
    transition: color 0.5s ease;

    &:hover {
      color: #fff;
    }
  }
}

.navigation-games {
  position: relative;
  color: rgb(214, 209, 209);
  cursor: pointer;
  margin: 0 1.5rem;

  svg {
    height: 1.3rem;
    width: 1.3rem;
    transform: rotate(180deg);
    display: block;
    margin-top: 0.3rem;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    color: #fff;

    .games-list {
      display: flex;
    }

    svg {
      transform: none;
    }
  }
}

.games-item {
  display: flex;
  align-items: center;

  span {
    display: block;
    margin-right: 0.5rem;
  }
}

.games-list {
  position: absolute;
  z-index: 1000;
  top: 50%;
  display: none;
  flex-direction: column;

  a {
    margin: 0;
    padding: 0;
    color: #fff;

    &:nth-child(1) {
      margin-top: 1.5rem;
    }

    li {
      margin: 0.3rem 0;
      background-color: #6441a5;
      border-radius: 0.5rem;
      padding: 0.3rem 0.7rem;
      width: 10rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #cf8bf3;
      }
    }
  }

  &:hover {
    display: flex;
  }
}

.navigation-auth {
  margin-left: 2rem;

  a {
    padding: 0.8rem 1.4rem;
    color: #fff;
    font-size: 1.6rem;
    border: 2px solid #fff;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #cf8bf3;
      background-color: #fff;
    }
  }
}