.statistic {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.statistic-item {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  font-size: 2rem;
}

.statistic-item__header {
  text-align: center;
}

.statistic-item__game {
  padding: 1rem 5rem;
}