.board {
  padding-bottom: 9rem;
}

.words-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  li {
    width: 40rem;
    overflow: hidden;
    margin-bottom: 3rem;
    border-radius: 2.5rem;
    background: rgb(172, 134, 113);
  }
}

.words-list .hard-word__card {
  background: #fff355 !important;

  .card-header__overlay {
    background: linear-gradient(transparent, #fff355);
  }
}

.deleted-word__card {
  background: #5dd85f !important;

  .card-header__overlay {
    background: linear-gradient(transparent, #5dd85f);
  }
}

.card-header {
  height: 26rem;
  width: 100%;
  background-size: cover;
}

.card-header__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 2rem 1rem;
  background: linear-gradient(transparent, rgb(172, 134, 113));

  position: relative;
}

.buttons-block {
  display: flex;

  button {
    background-color: transparent;

    svg {
      display: block;
      height: 2.5rem;
      width: 2.5rem;
      transition: ease 0.3s;
    }

    &:nth-child(1) {
      margin-right: 0.5rem;
    }
  }
}

.add-word__btn {
  &:hover {
    fill: #a1ffce;
  }
}

.back-word__btn {
  &:hover {
    fill: #faffd1;
  }
}

.remove-word__btn {
  &:hover {
    fill: #de6161;
  }
}

.save-word__btn {
  &:hover {
    fill: #a770ef;
  }
}

.card-header__block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;

  h3 {
    font-size: 4rem;
    font-weight: bold;
  }
}

.card-header__info {
  display: flex;
  align-items: center;
  font-size: 2rem;

  div {
    margin-right: 1.5rem;
  }

  button {
    background-color: transparent;

    svg {
      display: block;
      height: 2rem;
      width: 2rem;
      transition: 0.3s ease-in-out;

      &:hover {
        fill: #fff;
      }
    }
  }
}

.card-content {
  padding: 1rem 1.5rem 2rem;
  font-size: 1.6rem;
}

.card-content__block {
  text-align: right;

  &:nth-child(1) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
  }

  &:nth-child(2) {
    padding-top: 1.5rem;
  }
}

.card-content__example {
  text-align: right;

  &:nth-child(1) {
    margin-bottom: 0.5rem;
  }
}

.progress-word {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 0 0.5rem;
  font-size: 2rem;
  background-color: #d9c6f2;
  border-radius: 0.3rem;
}
