.authentication-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(184, 167, 163, 0.5);
  padding: 0 2rem;
}

.authentication-block {
  position: relative;
  max-width: 60rem;
  margin: 5rem auto;
  padding: 4rem 5rem;
  background-color: #ffffff;
  border-radius: 2rem;
  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;
  }
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  svg {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: #124bcd;
    transition: ease 0.3s;
    &:hover {
      fill: #c31162;
    }
  }
}

.authentication-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: inherit;
  padding: 1.5rem 0;
  input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    background: #f7f8f8;
    border: 2px solid #f7f8f8;
    border-radius: 1rem;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 80%;
    padding: 1rem 0;
    background-color: #124bcd;
    border: none;
    border-radius: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    color: #ffffff;
    &:disabled {
      background-color: #61739c;
      cursor: default;
    }
  }
}

.authentication-text {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #c31162;
  p {
    display: inline-flex;
  }
  span {
    margin-left: 0.25rem;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
  }
}

.auth-error__input {
  border: 1px solid #c31162 !important;
  &::placeholder {
    color: #c31162;
  }
}

.auth-error__title {
  text-align: center;
  color: #c31162;
}
